//size
$app-max-width: 90vw; 
$app-width: 1013px; 
$app-margin: 25px;
$app-border-radius: 10px;

$banner-height: 351px;
$banner-height-mobile: 233px;
$banner-width: 967px;
$banner-width-mobile: 641px;

$gallery-height: 415px;
$gallery-product-photo-height: 170px;
$gallery-product-photo-width: 172px;
$gallery-product-zoom-height: 700px;
$gallery-product-zoom-width: 700px;