
@font-face {
	font-family: 'Arial';
	src: url('../static/fonts/ArialMT.eot');
	src: url('../static/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ArialMT.woff') format('woff'),
		url('../static/fonts/ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../static/fonts/Arial-ItalicMT.eot');
	src: url('../static/fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/Arial-ItalicMT.woff') format('woff'),
		url('../static/fonts/Arial-ItalicMT.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Arial';
	src: url('../static/fonts/Arial-BoldMT.eot');
	src: url('../static/fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/Arial-BoldMT.woff') format('woff'),
		url('../static/fonts/Arial-BoldMT.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Arial Narrow';
	src: url('../static/fonts/ArialNarrow.eot');
	src: url('../static/fonts/ArialNarrow.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ArialNarrow.woff') format('woff'),
		url('../static/fonts/ArialNarrow.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../static/fonts/MyriadPro-Regular.eot');
	src: url('../static/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/MyriadPro-Regular.woff') format('woff'),
		url('../static/fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../static/fonts/OpenSans.eot');
	src: url('../static/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/OpenSans.woff') format('woff'),
		url('../static/fonts/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../static/fonts/OpenSans-Bold.eot');
	src: url('../static/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/OpenSans-Bold.woff') format('woff'),
		url('../static/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
