.banner {
	height: 100%;
	left:0;
	opacity:0;
	pointer-events: none;
	position: absolute;
	top:0;
	width: 100%;
	transition: opacity 0.315s ease-in;
	img + img {
		display: none;
	}
	&.active {
		opacity: 1;
		pointer-events: initial;
	}

	figcaption {
		display: none;
	}
}